@page 
@model Scheduler.Pages.TaskDetailsModel
@{
    // attempting to make handler value show up in header
    ViewData["Title"] = "Task Details";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    @if (Model.ListDetails){
        <form method="post">
          <div class="form-row align-items-center">
            <div class="col-auto">
                    <label class="sr-only" for="NumberOfTasks">Number of Tasks</label>
                    <input type="text" autofocus class="form-control mb-2" placeholder="Enter Number of Tasks" asp-for="NumberOfTasks">
            </div>

            @if (Model.HasQuantum)
            {
                <div class="col-auto">
                        <label class="sr-only" for="TimeQuatum">Time Quantum</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Enter Time Quantum" asp-for="TimeQuatum">
                </div>

            }

            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" asp-page="TaskDetails" asp-page-handler="SubmitDetails">Submit</button>
            </div>
          </div>
        </form>
    }

    @if (Model.ListProcesses)
    {
        <form method="post">
            <table class="table table-bordered">
                <tr>
                    <th>Process Name</th>
                    <th>Arrival Time</th>
                    <th>Service Time</th>
                </tr>
                <tbody>
                @for (int i = 0; i < Model.NumberOfTasks; i++)
                {
                    <tr>
                            <td><input type="text" autofocus asp-for="Processes[@i].Name" class="form-control mb-2" /></td>
                        <td><input asp-for="Processes[@i].ArrivalTime" class="form-control mb-2" /></td>
                        <td><input asp-for="Processes[@i].ServiceTime" class="form-control mb-2" /></td>
                    </tr>
                }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mb-2" asp-page="TaskDetails" asp-page-handler="SubmitTasks">Submit</button>

        </form>

    }


</div>
