@page 
@model Scheduler.Pages.TaskDetailsModel
@{
    // attempting to make handler value show up in header
    ViewData["Title"] = RouteData.Values["_Handler"];
}

<div class="container">

    <h1>Welcome to @ViewData["Title"]</h1>


</div>